# Relationship between FRIENDS characters analysis

Using the `friends_quotes` dataset, we will analyze the relationships between the characters in the show.

If we could break the quotes into conversations, and each conversation could involve multiple characters, then we could use association rule mining to find the relationships between the characters.

## How to define a conversation?

1. Separate the quotes by episode
2. Separate the quotes by greetings

## Packages

In [1]:
import pandas as pd
from collections import Counter

In [2]:
quotes = pd.read_csv("../data/friends_quotes.csv")
# change author and quote to lowercase
quotes['author'] = quotes['author'].str.lower()
quotes['quote'] = quotes['quote'].str.lower()
# remove all punctuation
quotes['quote'] = quotes['quote'].str.replace(r'[^\w\s]', '', regex=True)
quotes['author'] = quotes['author'].str.replace(r'[^\w\s]', '', regex=True)
# remove "and " from author
quotes['author'] = quotes['author'].str.replace(r'\band \b', '', regex=True)
# remove "the " from author
quotes['author'] = quotes['author'].str.replace(r'\bthe \b', '', regex=True)

quotes.head()

,author,episode_number,episode_title,quote,quote_order,season
0,monica,1.0,Monica Gets A Roommate,theres nothing to tell hes just some guy i wor...,0.0,1.0
1,joey,1.0,Monica Gets A Roommate,cmon youre going out with the guy theres gotta...,1.0,1.0
2,chandler,1.0,Monica Gets A Roommate,all right joey be nice so does he have a hump ...,2.0,1.0
3,phoebe,1.0,Monica Gets A Roommate,wait does he eat chalk,3.0,1.0
4,phoebe,1.0,Monica Gets A Roommate,just cause i dont want her to go through what ...,4.0,1.0

## Greetings

- If a greetings appears in the quote, then the conversation starts
- Next 5 quotes greetings are part of the same conversation
- Next greetings are part of the next conversation

In [3]:
greetings = [
    "hello",
    "hi",
    # "hey",
    # "greetings",
    # "what's up",
    "howdy",
    "yo",
    "sup",
    "morning",
    "good morning",
]

def is_greeting(quote: str) -> bool:
    """
    Check if the quote is a greeting
    :param quote: string
    :return: bool
    """
    words = quote.split()
    for greeting in greetings:
        if greeting in words:
            return True
    return False

quotes["has_greeting"] = quotes["quote"].apply(
    is_greeting
)

quotes.head()

,author,episode_number,episode_title,quote,quote_order,season,has_greeting
0,monica,1.0,Monica Gets A Roommate,theres nothing to tell hes just some guy i wor...,0.0,1.0,False
1,joey,1.0,Monica Gets A Roommate,cmon youre going out with the guy theres gotta...,1.0,1.0,False
2,chandler,1.0,Monica Gets A Roommate,all right joey be nice so does he have a hump ...,2.0,1.0,False
3,phoebe,1.0,Monica Gets A Roommate,wait does he eat chalk,3.0,1.0,False
4,phoebe,1.0,Monica Gets A Roommate,just cause i dont want her to go through what ...,4.0,1.0,False

## Separate the quotes by episode

In [4]:
# For each episode, separate the quotes by greetings
# the first conversation not necessarily starts with a greeting [first 10 quotes not greeting, the conversation starts with the first greeting]
# Then next conversation starts with the next greeting, record the quote_order, if next greeting is not in the next 5 quotes, then the conversation ends, the next conversation starts

def separate_conversations(quotes: pd.DataFrame) -> list[pd.DataFrame]:
    """
    Separate the quotes by greetings
    :param quotes: DataFrame
    :return: list of conversations
    """
    conversations = []
    conversation = []
    for i, row in quotes.iterrows():
        if row['has_greeting']:
            if len(conversation) > 5:
                conversations.append(conversation)
            conversation = [row]
        else:
            conversation.append(row)
    if len(conversation) > 5:
        conversations.append(conversation)

    conversations_dfs = []
    for i in conversations:
        conversation_df = pd.concat(i, axis=1).T
        conversations_dfs.append(conversation_df)
    return conversations_dfs


# loop through the episodes and separate the quotes by greetings
conversations_dfs = []
quotes_by_episode = {}
episodes = quotes['episode_title'].unique()
for episode in episodes:
    quotes_by_episode[episode] = quotes[quotes['episode_title'] == episode]
    conversations = separate_conversations(quotes_by_episode[episode])
    for conversation in conversations:
        conversation['episode_title'] = episode
        conversations_dfs.append(conversation)

print(len(conversations_dfs))
conversations_dfs[-1]

1410

,author,episode_number,episode_title,quote,quote_order,season,has_greeting
60249,rachel,17.0,"The Last One, Part I & II",on the answering machine ross hi its me i just...,544.0,10.0,True
60250,ross,17.0,"The Last One, Part I & II",oh my god,545.0,10.0,False
60251,rachel,17.0,"The Last One, Part I & II",on the answering machine excuse me,546.0,10.0,False
60252,air stewardess,17.0,"The Last One, Part I & II",on the answering machine miss please sit down,547.0,10.0,False
60253,rachel,17.0,"The Last One, Part I & II",on the answering machine im sorry im really so...,548.0,10.0,False
60254,air stewardess,17.0,"The Last One, Part I & II",on the answering machine miss i cant let you o...,549.0,10.0,False
60255,ross,17.0,"The Last One, Part I & II",let her off the plane,550.0,10.0,False
60256,air stewardess,17.0,"The Last One, Part I & II",on the answering machine i am afraid you are g...,551.0,10.0,False
60257,rachel,17.0,"The Last One, Part I & II",on the answering machine oh please miss you do...,552.0,10.0,False
60258,ross,17.0,"The Last One, Part I & II",try to understand,553.0,10.0,False
60259,rachel,17.0,"The Last One, Part I & II",on the answering machine oh come on miss isnt ...,554.0,10.0,False
60260,ross,17.0,"The Last One, Part I & II",no no oh my god did she get off the plane did ...,555.0,10.0,False
60261,rachel,17.0,"The Last One, Part I & II",i got off the plane,556.0,10.0,False
60262,ross,17.0,"The Last One, Part I & II",you got off the plane,557.0,10.0,False
60263,rachel,17.0,"The Last One, Part I & II",i do love you,558.0,10.0,False
60264,ross,17.0,"The Last One, Part I & II",i love you too and im never letting you go again,559.0,10.0,False
60265,rachel,17.0,"The Last One, Part I & II",okay cause this is where i wanna be okay no mo...,560.0,10.0,False
60266,ross,17.0,"The Last One, Part I & II",me neither okay we are were done being stupid,561.0,10.0,False
60267,rachel,17.0,"The Last One, Part I & II",okay you and me alright this is it,562.0,10.0,False
60268,ross,17.0,"The Last One, Part I & II",this is it unless were on a break,563.0,10.0,False
60269,ross,17.0,"The Last One, Part I & II",dont make jokes now,564.0,10.0,False
60270,monica,17.0,"The Last One, Part I & II",okay please be careful with that it was my gra...,565.0,10.0,False
60271,monica,17.0,"The Last One, Part I & II",if that falls off the truck it wouldnt be the ...,566.0,10.0,False
60272,ross,17.0,"The Last One, Part I & II",wow,567.0,10.0,False
60273,rachel,17.0,"The Last One, Part I & II",i know it seems smaller somehow,568.0,10.0,False
60274,joey,17.0,"The Last One, Part I & II",has it always been purple,569.0,10.0,False
60275,chandler,17.0,"The Last One, Part I & II",to his children look around you guys this was ...,570.0,10.0,False
60276,phoebe,17.0,"The Last One, Part I & II",hey do you realise that at one time or another...,571.0,10.0,False
60277,monica,17.0,"The Last One, Part I & II",oh yeah thats true,572.0,10.0,False
60278,ross,17.0,"The Last One, Part I & II",uh i havent,573.0,10.0,False
60279,monica,17.0,"The Last One, Part I & II",wait a minute what about that summer during co...,574.0,10.0,False
60280,ross,17.0,"The Last One, Part I & II",do you realise we almost made it ten years wit...,575.0,10.0,False
60281,monica,17.0,"The Last One, Part I & II",oh honey i forgot i promised treeger that wed ...,576.0,10.0,False
60282,chandler,17.0,"The Last One, Part I & II",oh okay,577.0,10.0,False
60283,phoebe,17.0,"The Last One, Part I & II",so i guess this is it,578.0,10.0,False
60284,joey,17.0,"The Last One, Part I & II",yeah i guess so,579.0,10.0,False
60285,monica,17.0,"The Last One, Part I & II",crying this is harder than i thought it would be,580.0,10.0,False
60286,chandler,17.0,"The Last One, Part I & II",oh its gonna be okay,581.0,10.0,False
60287,rachel,17.0,"The Last One, Part I & II",crying do you guys have to go to the new house...,582.0,10.0,False
60288,monica,17.0,"The Last One, Part I & II",we got some time,583.0,10.0,False
60289,rachel,17.0,"The Last One, Part I & II",okay should we get some coffee,584.0,10.0,False
60290,chandler,17.0,"The Last One, Part I & II",sure where,585.0,10.0,False

## Get the characters in each conversation

In [5]:
## Get the characters in each conversation
def get_characters(conversation: pd.DataFrame) -> list[str]:
    """
    Get the characters in each conversation
    :param conversation: DataFrame
    :return: list of characters
    """
    characters = []
    for i, row in conversation.iterrows():
        characters.append(row['author'])
    return sorted(characters)

# get the characters in each conversation
conversations_characters = []
for conversation in conversations_dfs:
    characters = get_characters(conversation)
    conversations_characters.append(characters)

conversations_characters = pd.Series(conversations_characters)


## Get the characters in each conversation
def get_characters(conversation: pd.DataFrame) -> list[str]:
    """
    Get the characters in each conversation
    :param conversation: DataFrame
    :return: list of characters
    """
    characters = []
    for i, row in conversation.iterrows():
        # change author == "all" to monica joey chandler ross rachel phoebe
        if row['author'] == "all":
            characters.extend(["monica", "joey", "chandler", "ross", "rachel", "phoebe"])
        # if contains space
        elif " " in row['author']:
            # split the author by space
            authors = row['author'].split(" ")
            for author in authors:
                # remove space from author
                author = author.strip()
                if author not in characters:
                    characters.append(author)
        else:
            characters.append(row['author'])
    return sorted(set(characters))


# get the characters in each conversation
conversations_characters = []
for conversation in conversations_dfs:
    characters = get_characters(conversation)
    conversations_characters.append(characters)

conversations_characters = pd.Series(conversations_characters)
conversations_characters

0          [chandler, joey, monica, phoebe, rachel, ross]
1                  [chandler, joey, monica, phoebe, ross]
2       [chandler, joey, monica, paul, phoebe, rachel,...
3       [chandler, joey, monica, paul, phoebe, rachel,...
4       [chandler, joey, monica, on, paul, priest, rac...
                              ...
1405       [chandler, joey, monica, phoebe, rachel, ross]
1406    [1, agent, attendant, chandler, gate, joey, ma...
1407               [chandler, joey, monica, phoebe, ross]
1408    [1, 2, 3, air, attendant, chandler, gate, joey...
1409    [air, chandler, joey, monica, phoebe, rachel, ...
Length: 1410, dtype: object

## Apply Association Rule Mining

In [6]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

# Convert conversations_characters (list of lists) into a one-hot encoded DataFrame
te = TransactionEncoder()
te_ary = te.fit(conversations_characters).transform(conversations_characters)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

### Perform Frequent Itemset Mining

In [7]:
# Find frequent itemsets with a minimum support threshold
frequent_itemsets = apriori(df_encoded, min_support=0.05, use_colnames=True)
frequent_itemsets.sort_values(by="support", ascending=False, inplace=True)
frequent_itemsets.head()

    support    itemsets
0  0.785816  (chandler)
5  0.785816    (rachel)
6  0.785816      (ross)
1  0.764539      (joey)
2  0.761702    (monica)

### Generate Association Rules

In [8]:
# Generate association rules with a minimum confidence threshold
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules.sort_values(by=["confidence", "lift"], ascending=False, inplace=True)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
543,"(rachel, joey, phoebe, ross, monica)",(chandler),0.473759,0.785816,0.458156,0.967066,1.230652,1.0,0.085869,6.503417,0.356154,0.571681,0.846235,0.775049
393,"(monica, joey, phoebe, ross)",(chandler),0.507092,0.785816,0.487943,0.962238,1.224508,1.0,0.089462,5.671920,0.371968,0.606167,0.823693,0.791588
540,"(rachel, joey, chandler, phoebe, ross)",(monica),0.476596,0.761702,0.458156,0.961310,1.262054,1.0,0.095132,6.159083,0.396713,0.587273,0.837638,0.781400
452,"(monica, rachel, joey, phoebe)",(chandler),0.503546,0.785816,0.483688,0.960563,1.222378,1.0,0.087994,5.431104,0.366443,0.600352,0.815875,0.788043
362,"(monica, rachel, joey, ross)",(chandler),0.509929,0.785816,0.488652,0.958275,1.219466,1.0,0.087942,5.133286,0.367230,0.605448,0.805193,0.790058

### Analyze Results

In [9]:
# Display the top 10 association rules
rules[["antecedents", "consequents", "support", "confidence", "lift"]].head(10)

,antecedents,consequents,support,confidence,lift
543,"(rachel, joey, phoebe, ross, monica)",(chandler),0.458156,0.967066,1.230652
393,"(monica, joey, phoebe, ross)",(chandler),0.487943,0.962238,1.224508
540,"(rachel, joey, chandler, phoebe, ross)",(monica),0.458156,0.961310,1.262054
452,"(monica, rachel, joey, phoebe)",(chandler),0.483688,0.960563,1.222378
362,"(monica, rachel, joey, ross)",(chandler),0.488652,0.958275,1.219466
450,"(rachel, joey, chandler, phoebe)",(monica),0.483688,0.957865,1.257532
420,"(rachel, chandler, phoebe, ross)",(monica),0.484397,0.956583,1.255849
151,"(monica, joey, ross)",(chandler),0.533333,0.955527,1.215969
179,"(monica, joey, phoebe)",(chandler),0.529078,0.952746,1.212429
423,"(monica, rachel, phoebe, ross)",(chandler),0.484397,0.951253,1.210530

### Save Results

In [10]:
# Save the frequent itemsets and rules to CSV files for further analysis
import os
if not os.path.exists("../results"):
    os.makedirs("../results")
frequent_itemsets.to_csv("../results/frequent_itemsets.csv", index=False)
rules.to_csv("../results/association_rules.csv", index=False)

In [11]:
results = rules[["antecedents", "consequents", "support", "confidence", "lift"]].copy().reset_index(drop=True)
# select only one character from antecedents
main_characters = [
    "monica",
    "joey",
    "chandler",
    "ross",
    "rachel",
    "phoebe"
]


# select antecedent has only one character and is joey
results[results["antecedents"].apply(lambda x: len(x) == 1 and "joey" in x)]

,antecedents,consequents,support,confidence,lift
157,(joey),(chandler),0.669504,0.875696,1.114378
233,(joey),(ross),0.641844,0.839518,1.068339
254,(joey),(rachel),0.636170,0.832096,1.058895
268,(joey),(monica),0.631915,0.826531,1.085110
317,(joey),(phoebe),0.615603,0.805195,1.106554
367,(joey),"(monica, chandler)",0.595035,0.778293,1.144310
390,(joey),"(chandler, ross)",0.587234,0.768089,1.160778
432,(joey),"(rachel, chandler)",0.569504,0.744898,1.159278
442,(joey),"(rachel, ross)",0.565248,0.739332,1.114929
444,(joey),"(chandler, phoebe)",0.564539,0.738404,1.176441
457,(joey),"(monica, ross)",0.558156,0.730056,1.151430
461,(joey),"(monica, rachel)",0.557447,0.729128,1.133485
467,(joey),"(monica, phoebe)",0.555319,0.726345,1.152021
484,(joey),"(phoebe, ross)",0.546809,0.715213,1.165839
495,(joey),"(rachel, phoebe)",0.541844,0.708720,1.148615
507,(joey),"(monica, chandler, ross)",0.533333,0.697588,1.187922
515,(joey),"(monica, chandler, phoebe)",0.529078,0.692022,1.195774
521,(joey),"(monica, rachel, chandler)",0.526950,0.689239,1.185155
522,(joey),"(rachel, chandler, ross)",0.524823,0.686456,1.187612
533,(joey),"(chandler, phoebe, ross)",0.514184,0.672542,1.211090
542,(joey),"(monica, rachel, ross)",0.509929,0.666976,1.175545
548,(joey),"(monica, phoebe, ross)",0.507092,0.663265,1.195913
552,(joey),"(rachel, chandler, phoebe)",0.504965,0.660482,1.204761
553,(joey),"(monica, rachel, phoebe)",0.503546,0.658627,1.184521
554,(joey),"(rachel, phoebe, ross)",0.502128,0.656772,1.194901
572,(joey),"(monica, rachel, chandler, ross)",0.488652,0.639147,1.206421
575,(joey),"(monica, chandler, phoebe, ross)",0.487943,0.638219,1.222675
578,(joey),"(monica, rachel, chandler, phoebe)",0.483688,0.632653,1.216972
580,(joey),"(rachel, chandler, phoebe, ross)",0.476596,0.623377,1.231038
587,(joey),"(monica, rachel, phoebe, ross)",0.473759,0.619666,1.216893

In [12]:
results[results["antecedents"].apply(lambda x: len(x) == 1 and "ross" in x)]

,antecedents,consequents,support,confidence,lift
222,(ross),(rachel),0.663121,0.843863,1.073869
230,(ross),(chandler),0.661702,0.842058,1.071572
299,(ross),(joey),0.641844,0.816787,1.068339
314,(ross),(monica),0.634043,0.806859,1.059284
363,(ross),(phoebe),0.613475,0.780686,1.072872
428,(ross),"(joey, chandler)",0.587234,0.747292,1.116189
429,(ross),"(monica, chandler)",0.587234,0.747292,1.098730
450,(ross),"(rachel, chandler)",0.578014,0.735560,1.144745
474,(ross),"(monica, rachel)",0.567376,0.722022,1.122437
477,(ross),"(rachel, joey)",0.565248,0.719314,1.130694
493,(ross),"(monica, joey)",0.558156,0.710289,1.124026
498,(ross),"(chandler, phoebe)",0.555319,0.706679,1.125895
500,(ross),"(monica, phoebe)",0.554610,0.705776,1.119398
504,(ross),"(rachel, phoebe)",0.549645,0.699458,1.133605
510,(ross),"(joey, phoebe)",0.546809,0.695848,1.130353
527,(ross),"(monica, joey, chandler)",0.533333,0.678700,1.140605
529,(ross),"(monica, rachel, chandler)",0.529787,0.674188,1.159274
540,(ross),"(rachel, joey, chandler)",0.524823,0.667870,1.172723
547,(ross),"(monica, chandler, phoebe)",0.521986,0.664260,1.147802
557,(ross),"(joey, chandler, phoebe)",0.514184,0.654332,1.159056
559,(ross),"(monica, rachel, joey)",0.509929,0.648917,1.164088
562,(ross),"(monica, rachel, phoebe)",0.509220,0.648014,1.165434
563,(ross),"(monica, joey, phoebe)",0.507092,0.645307,1.162047
564,(ross),"(rachel, chandler, phoebe)",0.506383,0.644404,1.175434
573,(ross),"(rachel, joey, phoebe)",0.502128,0.638989,1.179286
583,(ross),"(monica, rachel, joey, chandler)",0.488652,0.621841,1.180075
586,(ross),"(monica, joey, chandler, phoebe)",0.487943,0.620939,1.173624
589,(ross),"(monica, rachel, chandler, phoebe)",0.484397,0.616426,1.185758
594,(ross),"(rachel, joey, chandler, phoebe)",0.476596,0.606498,1.201071
596,(ross),"(monica, rachel, joey, phoebe)",0.473759,0.602888,1.197285

In [13]:
results[results["antecedents"].apply(lambda x: len(x) == 1 and "chandler" in x)]

,antecedents,consequents,support,confidence,lift
183,(chandler),(monica),0.680142,0.865523,1.136302
205,(chandler),(joey),0.669504,0.851986,1.114378
229,(chandler),(ross),0.661702,0.842058,1.071572
297,(chandler),(rachel),0.642553,0.817690,1.040562
329,(chandler),(phoebe),0.627660,0.798736,1.097679
413,(chandler),"(monica, joey)",0.595035,0.757220,1.198295
426,(chandler),"(monica, ross)",0.587234,0.747292,1.178616
427,(chandler),"(joey, ross)",0.587234,0.747292,1.164290
440,(chandler),"(monica, rachel)",0.581560,0.740072,1.150498
449,(chandler),"(monica, phoebe)",0.578723,0.736462,1.168067
452,(chandler),"(rachel, ross)",0.578014,0.735560,1.109240
469,(chandler),"(rachel, joey)",0.569504,0.724729,1.139207
481,(chandler),"(joey, phoebe)",0.564539,0.718412,1.167005
497,(chandler),"(phoebe, ross)",0.555319,0.706679,1.151927
505,(chandler),"(rachel, phoebe)",0.548227,0.697653,1.130680
526,(chandler),"(monica, joey, ross)",0.533333,0.678700,1.215969
528,(chandler),"(monica, rachel, ross)",0.529787,0.674188,1.188256
532,(chandler),"(monica, joey, phoebe)",0.529078,0.673285,1.212429
534,(chandler),"(monica, rachel, joey)",0.526950,0.670578,1.202945
539,(chandler),"(rachel, joey, ross)",0.524823,0.667870,1.181552
546,(chandler),"(monica, phoebe, ross)",0.521986,0.664260,1.197707
549,(chandler),"(monica, rachel, phoebe)",0.519858,0.661552,1.189782
556,(chandler),"(joey, phoebe, ross)",0.514184,0.654332,1.196639
565,(chandler),"(rachel, phoebe, ross)",0.506383,0.644404,1.172400
567,(chandler),"(rachel, joey, phoebe)",0.504965,0.642599,1.185949
582,(chandler),"(monica, rachel, joey, ross)",0.488652,0.621841,1.219466
585,(chandler),"(monica, joey, phoebe, ross)",0.487943,0.620939,1.224508
588,(chandler),"(monica, rachel, phoebe, ross)",0.484397,0.616426,1.210530
591,(chandler),"(monica, rachel, joey, phoebe)",0.483688,0.615523,1.222378
593,(chandler),"(rachel, joey, phoebe, ross)",0.476596,0.606498,1.207857

In [14]:
results[results["antecedents"].apply(lambda x: len(x) == 1 and "monica" in x)]

,antecedents,consequents,support,confidence,lift
114,(monica),(chandler),0.680142,0.892924,1.136302
218,(monica),(rachel),0.643262,0.844507,1.074688
251,(monica),(ross),0.634043,0.832402,1.059284
261,(monica),(joey),0.631915,0.829609,1.085110
266,(monica),(phoebe),0.630496,0.827747,1.137547
362,(monica),"(joey, chandler)",0.595035,0.781192,1.166823
381,(monica),"(chandler, ross)",0.587234,0.770950,1.165101
402,(monica),"(rachel, chandler)",0.581560,0.763501,1.188230
410,(monica),"(chandler, phoebe)",0.578723,0.759777,1.210491
433,(monica),"(rachel, ross)",0.567376,0.744879,1.123293
453,(monica),"(joey, ross)",0.558156,0.732775,1.141671
455,(monica),"(rachel, joey)",0.557447,0.731844,1.150390
458,(monica),"(rachel, phoebe)",0.556028,0.729981,1.183073
462,(monica),"(joey, phoebe)",0.555319,0.729050,1.184287
464,(monica),"(phoebe, ross)",0.554610,0.728119,1.186876
501,(monica),"(joey, chandler, ross)",0.533333,0.700186,1.192346
511,(monica),"(rachel, chandler, ross)",0.529787,0.695531,1.203311
512,(monica),"(joey, chandler, phoebe)",0.529078,0.694600,1.230384
517,(monica),"(rachel, joey, chandler)",0.526950,0.691806,1.214753
523,(monica),"(chandler, phoebe, ross)",0.521986,0.685289,1.234045
525,(monica),"(rachel, chandler, phoebe)",0.519858,0.682495,1.244914
537,(monica),"(rachel, joey, ross)",0.509929,0.669460,1.184365
538,(monica),"(rachel, phoebe, ross)",0.509220,0.668529,1.216291
543,(monica),"(joey, phoebe, ross)",0.507092,0.665736,1.217493
551,(monica),"(rachel, joey, phoebe)",0.503546,0.661080,1.220056
569,(monica),"(rachel, joey, chandler, ross)",0.488652,0.641527,1.222369
571,(monica),"(joey, chandler, phoebe, ross)",0.487943,0.640596,1.245849
576,(monica),"(rachel, chandler, phoebe, ross)",0.484397,0.635940,1.255849
577,(monica),"(rachel, joey, chandler, phoebe)",0.483688,0.635009,1.257532
581,(monica),"(rachel, joey, phoebe, ross)",0.473759,0.621974,1.238677
598,(monica),"(rachel, joey, chandler, phoebe, ross)",0.458156,0.601490,1.262054

In [15]:
results[results["antecedents"].apply(lambda x: len(x) == 1 and "rachel" in x)]

,antecedents,consequents,support,confidence,lift
221,(rachel),(ross),0.663121,0.843863,1.073869
292,(rachel),(monica),0.643262,0.818592,1.074688
296,(rachel),(chandler),0.642553,0.817690,1.040562
308,(rachel),(joey),0.636170,0.809567,1.058895
355,(rachel),(phoebe),0.617021,0.785199,1.079074
441,(rachel),"(monica, chandler)",0.581560,0.740072,1.088114
451,(rachel),"(chandler, ross)",0.578014,0.735560,1.111617
470,(rachel),"(joey, chandler)",0.569504,0.724729,1.082488
473,(rachel),"(monica, ross)",0.567376,0.722022,1.138759
478,(rachel),"(joey, ross)",0.565248,0.719314,1.120699
494,(rachel),"(monica, joey)",0.557447,0.709386,1.122598
496,(rachel),"(monica, phoebe)",0.556028,0.707581,1.122260
503,(rachel),"(phoebe, ross)",0.549645,0.699458,1.140158
506,(rachel),"(chandler, phoebe)",0.548227,0.697653,1.111516
520,(rachel),"(joey, phoebe)",0.541844,0.689531,1.120090
530,(rachel),"(monica, chandler, ross)",0.529787,0.674188,1.148073
535,(rachel),"(monica, joey, chandler)",0.526950,0.670578,1.126954
541,(rachel),"(joey, chandler, ross)",0.524823,0.667870,1.137315
550,(rachel),"(monica, chandler, phoebe)",0.519858,0.661552,1.143124
560,(rachel),"(monica, joey, ross)",0.509929,0.648917,1.162609
561,(rachel),"(monica, phoebe, ross)",0.509220,0.648014,1.168415
566,(rachel),"(chandler, phoebe, ross)",0.506383,0.644404,1.160422
568,(rachel),"(joey, chandler, phoebe)",0.504965,0.642599,1.138273
570,(rachel),"(monica, joey, phoebe)",0.503546,0.640794,1.153921
574,(rachel),"(joey, phoebe, ross)",0.502128,0.638989,1.168579
584,(rachel),"(monica, joey, chandler, ross)",0.488652,0.621841,1.165952
590,(rachel),"(monica, chandler, phoebe, ross)",0.484397,0.616426,1.180925
592,(rachel),"(monica, joey, chandler, phoebe)",0.483688,0.615523,1.163389
595,(rachel),"(joey, chandler, phoebe, ross)",0.476596,0.606498,1.179534
597,(rachel),"(monica, joey, phoebe, ross)",0.473759,0.602888,1.188912

In [16]:
results[results["antecedents"].apply(lambda x: len(x) == 1 and "phoebe" in x)]

,antecedents,consequents,support,confidence,lift
180,(phoebe),(monica),0.630496,0.866472,1.137547
189,(phoebe),(chandler),0.627660,0.862573,1.097679
214,(phoebe),(rachel),0.617021,0.847953,1.079074
215,(phoebe),(joey),0.615603,0.846004,1.106554
226,(phoebe),(ross),0.613475,0.843080,1.072872
334,(phoebe),"(monica, chandler)",0.578723,0.795322,1.169347
372,(phoebe),"(joey, chandler)",0.564539,0.775828,1.158812
399,(phoebe),"(monica, rachel)",0.556028,0.764133,1.187902
403,(phoebe),"(monica, joey)",0.555319,0.763158,1.207691
404,(phoebe),"(chandler, ross)",0.555319,0.763158,1.153325
405,(phoebe),"(monica, ross)",0.554610,0.762183,1.202101
415,(phoebe),"(rachel, ross)",0.549645,0.755361,1.139100
418,(phoebe),"(rachel, chandler)",0.548227,0.753411,1.172528
422,(phoebe),"(joey, ross)",0.546809,0.751462,1.170786
435,(phoebe),"(rachel, joey)",0.541844,0.744639,1.170503
465,(phoebe),"(monica, joey, chandler)",0.529078,0.727096,1.221936
483,(phoebe),"(monica, chandler, ross)",0.521986,0.717349,1.221572
486,(phoebe),"(monica, rachel, chandler)",0.519858,0.714425,1.228462
499,(phoebe),"(joey, chandler, ross)",0.514184,0.706628,1.203315
502,(phoebe),"(monica, rachel, ross)",0.509220,0.699805,1.233406
508,(phoebe),"(monica, joey, ross)",0.507092,0.696881,1.248542
509,(phoebe),"(rachel, chandler, ross)",0.506383,0.695906,1.203961
513,(phoebe),"(rachel, joey, chandler)",0.504965,0.693957,1.218530
516,(phoebe),"(monica, rachel, joey)",0.503546,0.692008,1.241388
519,(phoebe),"(rachel, joey, ross)",0.502128,0.690058,1.220806
536,(phoebe),"(monica, joey, chandler, ross)",0.487943,0.670565,1.257310
544,(phoebe),"(monica, rachel, chandler, ross)",0.484397,0.665692,1.256527
545,(phoebe),"(monica, rachel, joey, chandler)",0.483688,0.664717,1.261442
555,(phoebe),"(rachel, joey, chandler, ross)",0.476596,0.654971,1.247985
558,(phoebe),"(monica, rachel, joey, ross)",0.473759,0.651072,1.276790
579,(phoebe),"(rachel, joey, chandler, ross, monica)",0.458156,0.629630,1.288502

In [17]:
results[results["antecedents"].apply(lambda x: len(x) == 2 and "monica" in x and "chandler" in x)]

,antecedents,consequents,support,confidence,lift
160,"(monica, chandler)",(joey),0.595035,0.874870,1.144310
188,"(monica, chandler)",(ross),0.587234,0.863399,1.098730
198,"(monica, chandler)",(rachel),0.581560,0.855057,1.088114
208,"(monica, chandler)",(phoebe),0.578723,0.850886,1.169347
357,"(monica, chandler)","(joey, ross)",0.533333,0.784150,1.221715
366,"(monica, chandler)","(rachel, ross)",0.529787,0.778936,1.174653
368,"(monica, chandler)","(joey, phoebe)",0.529078,0.777894,1.263629
373,"(monica, chandler)","(rachel, joey)",0.526950,0.774765,1.217859
394,"(monica, chandler)","(phoebe, ross)",0.521986,0.767466,1.251014
398,"(monica, chandler)","(rachel, phoebe)",0.519858,0.764338,1.238754
480,"(monica, chandler)","(rachel, joey, ross)",0.488652,0.718457,1.271046
482,"(monica, chandler)","(joey, phoebe, ross)",0.487943,0.717414,1.312002
490,"(monica, chandler)","(rachel, phoebe, ross)",0.484397,0.712200,1.295745
492,"(monica, chandler)","(rachel, joey, phoebe)",0.483688,0.711157,1.312476
531,"(monica, chandler)","(rachel, joey, phoebe, ross)",0.458156,0.673618,1.341528

In [18]:
results[results["antecedents"].apply(lambda x: len(x) == 2 and "rachel" in x and "ross" in x)]

,antecedents,consequents,support,confidence,lift
169,"(rachel, ross)",(chandler),0.578014,0.871658,1.109240
197,"(rachel, ross)",(monica),0.567376,0.855615,1.123293
203,"(rachel, ross)",(joey),0.565248,0.852406,1.114929
262,"(rachel, ross)",(phoebe),0.549645,0.828877,1.139100
328,"(rachel, ross)","(monica, chandler)",0.529787,0.798930,1.174653
344,"(rachel, ross)","(joey, chandler)",0.524823,0.791444,1.182135
387,"(rachel, ross)","(monica, joey)",0.509929,0.768984,1.216911
392,"(rachel, ross)","(monica, phoebe)",0.509220,0.767914,1.217952
401,"(rachel, ross)","(chandler, phoebe)",0.506383,0.763636,1.216641
414,"(rachel, ross)","(joey, phoebe)",0.502128,0.757219,1.230045
447,"(rachel, ross)","(monica, joey, chandler)",0.488652,0.736898,1.238411
456,"(rachel, ross)","(monica, chandler, phoebe)",0.484397,0.730481,1.262229
479,"(rachel, ross)","(joey, chandler, phoebe)",0.476596,0.718717,1.273103
485,"(rachel, ross)","(monica, joey, phoebe)",0.473759,0.714439,1.286537
518,"(rachel, ross)","(monica, joey, chandler, phoebe)",0.458156,0.690909,1.305874

In [19]:
results[results["antecedents"].apply(lambda x: len(x) == 2 and "phoebe" in x and "joey" in x)]

,antecedents,consequents,support,confidence,lift
59,"(joey, phoebe)",(chandler),0.564539,0.917051,1.167005
97,"(joey, phoebe)",(monica),0.555319,0.902074,1.184287
126,"(joey, phoebe)",(ross),0.546809,0.888249,1.130353
144,"(joey, phoebe)",(rachel),0.541844,0.880184,1.120090
192,"(joey, phoebe)","(monica, chandler)",0.529078,0.859447,1.263629
246,"(joey, phoebe)","(chandler, ross)",0.514184,0.835253,1.262280
280,"(joey, phoebe)","(monica, ross)",0.507092,0.823733,1.299176
287,"(joey, phoebe)","(rachel, chandler)",0.504965,0.820276,1.276589
295,"(joey, phoebe)","(monica, rachel)",0.503546,0.817972,1.271600
302,"(joey, phoebe)","(rachel, ross)",0.502128,0.815668,1.230045
340,"(joey, phoebe)","(monica, chandler, ross)",0.487943,0.792627,1.349763
354,"(joey, phoebe)","(monica, rachel, chandler)",0.483688,0.785714,1.351045
374,"(joey, phoebe)","(rachel, chandler, ross)",0.476596,0.774194,1.339402
385,"(joey, phoebe)","(monica, rachel, ross)",0.473759,0.769585,1.356394
436,"(joey, phoebe)","(monica, rachel, chandler, ross)",0.458156,0.744240,1.404790